
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 5px;
  width: 400px;
  color: black;
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.553);
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  

  }
  .container_login{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% );
   
  }
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid;
  }
  .login-container input:focus{
    outline-color: #0d65c2;
    box-shadow:0px 0px 4px #0d65c2;
  }
  
  .login-container button {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .login-container p {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-container a {
    color: #0d65c2;
    text-decoration: none;
  }
  .login-container a:hover{
  text-decoration: underline;
  }
  .error{
    color:red;
  }
  @media (max-width: 480px) {
    .login-container {
      padding: 10px;
    }
  
    .login-container input, .login-container button {
      padding: 8px;
    }
  }
  